iv {
    height: 100%;
    }
p{
padding:5px 10px ;
color:#FDA;
}
img {
    width: 400px;
    }
span{
font-size : 150%;
color :#860D0E;
}
               
#right_column {
    height: 100%;
   background: -moz-linear-gradient(#003D5C,#40404F,#003D5C,#7A0000); 
	background: linear-gradient(#003D5C,#40404F,#003D5C,#7A0000);
	margin-left :200px;
    }  
#main_img {
	float :left;
    max-width: 50%;
    height:auto;
    width: auto\9; 
	padding :2px 10px;
	border-top-right-radius :60px;
	border-bottom-left-radius :60px;
	border : none;
	}
.main_img {
    min-width: 250px;
    height: auto;
    width: 100%; 
	border-top-right-radius :60px;
	border-bottom-left-radius :60px;
	}
.right_img{

	float :right;
    max-width: 100%;
    height:auto; 
	margin :10px 20px;
	border-top-right-radius :60px;
	border-bottom-left-radius :60px;
	}



                

