

#right_column {
	margin-left: 200px;
	height: 100%;
	background: -moz-linear-gradient(#003D5C,#730000,#003D5C,#7A0000); 
	background: linear-gradient(#003D5C,#7A0000,#003D5C,#7A0000);
	}
#clear_it{
padding-left:140px;
clear :both;
}
h2{
text-align :center;
 background: -moz-linear-gradient(#E44, #722,#003D5C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#E44, #722,#003D5C);
color:#FD9;
padding :5px 0px;
}
	
.main_img {
    min-width: 250px;
    height: auto;
    width: 100%; 
	border-top-right-radius :60px;
	border-bottom-left-radius :60px;
	}
	
.img_list{
float :right;
display :block;
margin :25px 11px 0px 11px;
padding :2px;
width :250px;
height:150px;
}
.img_list1{
float :left;
display :block;
margin :25px 11px 0px 11px;
padding :2px;
width :250px;
height:150px;
}
.clear_it{
clear :both;
}
#list_img p {
color : #FDA;
padding : 25px 5px 10px 10px;
min-width :250px;
}

span{
font-size: 150%;
color :#AB2;

}





	
	